<div class="container">
  <div ng-repeat="m in vm.movies">
    <div class="well">
      <div class="row">
        <div class="col col-sm-1">
          {{m.id}}
        </div>
        <div class="col col-sm-2">
          <a ui-sref="Movie Details({id: m.id})">{{m.title}}</a>
        </div>
        <div class="col col-sm-1">
          {{m.director}}
        </div>
        <div class="col col-sm-8">
          <a class="btn btn-warning" ng-href="/movie/{{m.id}}">Details</a>
          <button type="button" class="btn btn-danger" ng-click="vm.deleteMovie(m)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
