<div style="text-align:center;">
  <h1>Create a Movie</h1>
</div>

<form class="well container" ng-submit="vm.createMovie( )">
  <div class="row container">
    <div class="col col-sm-1">
      <label>Title: </label>
    </div>
    <div class="colo col-sm-11">
      <input type="text" ng-model="vm.movie.title" class="form-control" />
    </div>
  </div>
  <br />
  <div class="col col-sm-1">
    <label>Director: </label>
  </div>
  <div class="colo col-sm-11">
    <input type="text" ng-model="vm.movie.director" class="form-control" />
  </div>
</div>
<br /><br />
<div style="text-align:center;">
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
